@if(queryParams$ | async){} @if(usersStore.loading()) {
<loading-spinner></loading-spinner>
}
<div class="users-container">
  <app-users-form
    (enteredValues)="getUsers($event)"
    (resettedValues)="onReset($event)"
  ></app-users-form>

  @if(usersStore.loaded()) { @if(usersStore.data().length > 0) {
  <app-users-table [users]="usersStore.data()"></app-users-table>
  <mat-paginator
    [length]="usersStore.total()"
    [pageSize]="usersStore.params()!.limit"
    [pageIndex]="usersStore.params()!.start / usersStore.params()!.limit"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  } @else if (usersStore.error()){
  <p class="control-error">{{ usersStore.error() }}</p>
  } @else {
  <p class="error">No user was found. <br />Please search for a valid user.</p>

  } }
</div>
