<section class="center">
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="form-container users-form"
  >
    <h2 class="users-heading">SEARCH USERS</h2>
    <div class="users-form-container">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput ngModel name="firstName" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput ngModel name="lastName" required />
      </mat-form-field>
    </div>
    <div class="center-button-container">
      <button type="submit" mat-raised-button [disabled]="form.invalid">
        Search
      </button>
    </div>
  </form>
</section>
