@if(queryParams$ | async){} @if(usersStore.loading()) {
<loading-spinner></loading-spinner>
}
<div class="users-container">
  <app-users-form
    (enteredValues)="getUsers($event)"
    (resettedValues)="onReset($event)"
  ></app-users-form>

  @if(usersStore.loaded()) { @if(usersStore.data().length > 0) {
  <app-users-table
    [users]="usersStore.data()"
    (userDeleted)="onDelete($event)"
    (userEdited)="onEdit($event)"
  ></app-users-table>
  <mat-paginator
    [length]="usersStore.total()"
    [pageSize]="usersStore.params().limit"
    [pageIndex]="usersStore.params().start / usersStore.params().limit"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  } @else if (usersStore.error()){
  <p class="control-error">{{ usersStore.error() }}</p>
  } @else {
  <p class="error">No user was found. <br />Please search for a valid user.</p>

  } }
</div>
@if(isOpen()){
<section class="edit-dialog">
  <div class="dialog">
    <form class="edit-form" [formGroup]="form" (ngSubmit)="onHandleUserEdit()">
      <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" formControlName="firstName" />
      </div>
      <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" formControlName="lastName" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div>
        <button type="submit">Save</button>
        <button type="button" (click)="onClose()">Close</button>
      </div>
    </form>
  </div>
</section>

}
