$light-navy: #1a2737;
$sidebar-color: #111b27;
$main-layout-color: #fcfcfc;

$secondary-layout-color: #f3f4f8;

$white: #ffff;
$primary-text: #020410;
$secondary-text: #6b7280;

$icon-color: #9eb0c2;
$light-bg-navy: #1f2c3f;

$text-dark: #1c2026;

$button-bg: #1d6dde;

$light-blue: #8090a4;
$icon-bg: #1d2a3d;

$rose-border: #eaeeef;

// GRADIENTS
$light-red-color: #e23c3c;
$dark-red-color: #db0d0dde;

$light-orange-color: #ffcc00;
$dark-orange-color: #ff9900;

$light-blue-color: #3db5d3;
$dark-blue-color: #0072ff;

$light-yellow-color: #a9e34b;
$dark-yellow-color: #5c940d;

$light-gray-color: rgba(16, 87, 14, 0.3);
$dark-gray-color: rgba(6, 59, 4, 0.3);

// Spinner
$light-pink-color: #0b7285;
