$light-navy: #1a2737;
$sidebar-color: #111b27;
$main-layout-color: #fcfcfc;

$secondary-layout-color: #f3f4f8;

$white: #ffff;
$primary-text: #020410;
$secondary-text: #6b7280;

$icon-color: #9eb0c2;
$light-bg-navy: #1f2c3f;

$text-dark: #1c2026;

$button-bg: #1d6dde;

$light-blue: #8090a4;
$icon-bg: #1d2a3d;

$rose-border: #eaeeef;
