@use "../../../../../styles/variables" as *;

.card-container-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;

  @media (max-width: 75em) {
    grid-template-columns: 1fr;
  }
}

.create-flight-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
}
