<div class="search-container">
  <input type="text" placeholder="&#10132; From" />
  <input type="text" placeholder="&#10132; To" />
  <input type="text" placeholder="Airline" />
  <input type="text" placeholder="Depart" />
  <input type="text" placeholder="Flight Number" />
  <button class="btn form-btn">Search</button>
</div>
<!-- @for -->
<div class="card-container-box">
  <div class="card">
    <div class="card-container--1">
      <p class="card-paragraph">Status</p>
      <div class="inner-container">
        <div>
          <p class="inner-paragraph">Departure Time</p>
          <p class="inner-paragraph">Flight Number</p>
        </div>
        <div>
          <p class="inner-paragraph">Title</p>
          <p class="inner-paragraph">Status:Cancelled</p>
        </div>
      </div>
    </div>
    <div class="card-container--2">
      <h2>ROME TO ATHENS</h2>
    </div>
  </div>
</div>
