@import "variables";

.flex-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: $secondary-layout-color;
}

.outlet-container {
  background-color: $secondary-layout-color;
  padding: 5rem;
  width: 100%;
  position: relative;
  max-width: 100%;
}
