@use "variables" as *;
@use "sass:color";

.search-container {
  display: grid;
  justify-items: center;
  padding: 2rem 0;
  box-shadow: 2px 1px 0.6rem rgba(70, 62, 62, 0.3);
  background-color: $white;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  margin-bottom: 4rem;
  border-radius: 11px;
  border: 1px solid color.adjust($rose-border, $lightness: -5%);

  @media (max-width: 73em) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  @media (max-width: 56em) {
    grid-template-columns: 1fr;
  }

  input {
    width: 25rem;
    padding: 1.5rem;
    border-radius: 6px;
    border: 2px solid color.adjust($rose-border, $lightness: -10%);

    &::placeholder {
      color: black;
      opacity: 55%;
      font-size: 1.5rem;
    }
  }
}

.form-btn {
  max-width: 25rem;
  width: 25rem;
  letter-spacing: 1px;
}

.btn-reset {
  width: 25rem;
  background-color: $white;
  color: black;
  border: 1px solid rgb(70, 56, 55);
  grid-column: 3/4;
  letter-spacing: 1px;

  &:not(:disabled):hover {
    background-color: color.adjust($white, $lightness: -10%);
  }
  @media (max-width: 73em) {
    grid-column: 2/3;
  }
  @media (max-width: 56em) {
    grid-column: 1/2;
  }
}
