@use "variables" as *;
@use "sass:color";

// ****************** //
// FLIGHT STYLE
// ***************** //

.flight-img {
  width: 10rem;
  height: 7rem;
}

.flight-img2 {
  width: 8rem;
  height: 6rem;
}

.card {
  position: relative;
  border-radius: 11px 11px 0 0;

  &-inner-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-paragraph {
    font-size: 2rem;
  }

  &-container--1 {
    padding: 2rem;
    padding-bottom: 4rem;
    box-shadow: 2px 0 0.6rem rgba(70, 62, 62, 0.3);
    perspective: 100rem;
    background-color: $white;
    backface-visibility: hidden;
    border-radius: 11px 11px 0 0;
    border: 1px solid color.adjust($rose-border, $lightness: -5%);
    transition: all 0.8s ease;
  }

  &-container--2 {
    transform: rotateY(180deg);
    padding: 2rem;
    padding-bottom: 4rem;
    perspective: 150rem;
    border-radius: 11px 11px 0 0;
    box-shadow: 2px 0 0.6rem rgba(70, 62, 62, 0.3);
    backface-visibility: hidden;
    border: 1px solid color.adjust($rose-border, $lightness: -5%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 253, 253, 0.4),
      rgba(210, 212, 188, 0.4)
    );
    transition: all 0.8s ease;
  }

  &:hover .card-container--1 {
    transform: rotateY(-180deg);
  }
  &:hover .card-container--2 {
    transform: rotateY(0);
  }
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

// STATUS STYLES
.status-paragraph {
  font-size: 2rem;
  color: transparent;
  background-clip: text;
  font-weight: 500;
  text-transform: uppercase;
}

// CANCELLED STATUS!
.cancelled-status {
  background-image: linear-gradient(
    to right,
    $light-red-color,
    $dark-red-color
  );
}
//********************//

//********************//
// DELAYED STATUS !
.delayed-status {
  background-image: linear-gradient(
    to right,
    $light-orange-color,
    $dark-orange-color
  );
}
//**************//

// SCHEDULED STATUS !
.scheduled-status {
  background-image: linear-gradient(
    to right,
    $light-blue-color,
    $dark-blue-color
  );
}
// *****************//

.second-container-heading {
  background-image: linear-gradient(
    to right,
    rgb(156, 184, 55),
    color.adjust(rgb(156, 184, 55), $lightness: -10%)
  );
  font-weight: 600;
  color: transparent;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-style: italic;
  letter-spacing: 3px;
  background-clip: text;
}

.second-container-big-heading {
  background-image: linear-gradient(
    to right,
    #bba4d4,
    color.adjust(#bba4d4, $lightness: -25%)
  );
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
  color: transparent;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  letter-spacing: 3px;
  background-clip: text;
}

.flight-link {
  text-decoration: none;
  display: inline-block;
  color: black;
  width: 100%;
  max-width: 100%;
}

.inner-paragraph-country {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.inner-paragraph-time {
  font-size: 1.6rem;
}

.country-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.flight-information-container {
  display: flex;
  justify-content: space-between;
  padding-block: 1.2rem;
}

.flight-number {
  background-image: linear-gradient(
    to right,
    $light-gray-color,
    $dark-gray-color
  );
  color: transparent;
  background-clip: text;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0 0 11px 11px;
  border-top: 1px solid #d6acac;
  box-shadow: 0 2px 0.6rem rgba(70, 62, 62, 0.3);
}

.decoration {
  text-decoration: none;
}
