<header class="main-header">
  <div class="inner-container">
    <mat-icon (click)="onClick()" class="material-icons header-icon"
      >menu</mat-icon
    >
    <h1>FLIGHTS</h1>
    <i [matMenuTriggerFor]="menu" class="material-icons header-icon">person</i>
  </div>
</header>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    {{ user()?.firstName }}
  </button>
  <button mat-menu-item disabled>
    {{ user()?.email }}
  </button>
  <button mat-menu-item disabled>
    {{ user()?.role }}
  </button>
  <button (click)="onLogout()" mat-menu-item>Logout</button>
</mat-menu>
