@import "variables";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.btn {
  padding: 1.5rem 1.6rem;
  border: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: $button-bg;
  font-size: 1.3rem;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;

  &:hover:not(:disabled) {
    background-color: #fff;
    color: $button-bg;
    border: 1px solid $button-bg;
  }
}

.control-error {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 1.2rem;
}

.valid {
  color: blue;
}

.centered-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 1.3rem !important;
}

.mat-mdc-button .mdc-button__label {
  font-size: 1.3rem !important;
}

.active {
  background-color: lighten($sidebar-color, 12);
}

.error {
  font-size: 2rem;
  background-image: linear-gradient(to right, #12b886, #054e38);
  color: transparent;
  background-clip: text;
}
.mat-mdc-paginator-page-size-label,
.mat-mdc-paginator-range-label,
.mat-mdc-option.mdc-list-item {
  font-size: 1.7rem !important;
}

.mat-mdc-select-value-text {
  font-size: 1.6rem !important;
}
.mat-mdc-paginator-container {
  box-shadow: 2px 2px 0.6rem rgba(70, 62, 62, 0.3);
  border-radius: 11px;
  padding: 1.5rem !important;
}

.mat-mdc-icon-button {
  font-size: 1.6rem !important;
}

.btn2 {
  font-size: 1.3rem;
  padding: 1.5rem 1.6rem;
  border: none;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit {
  background-color: $button-bg;
  color: $white;
  transition: all 0.4s;

  &:hover {
    background-color: darken($button-bg, 15);
  }
}

.secondary-btn {
  background-color: $white;
  color: black;
  border: 1px solid rgb(70, 56, 55);
  transition: all 0.4s;

  &:hover {
    background-color: darken($white, 25);
  }
}

.not-allowed {
  cursor: not-allowed;
  opacity: 70%;
}
