@import "variables";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.btn {
  padding: 1.2rem 1.6rem;
  border: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: $button-bg;
  font-size: 1.3rem;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;

  &:hover:not(:disabled) {
    background-color: #fff;
    color: $button-bg;
    border: 1px solid $button-bg;
  }
}

.control-error {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 1.2rem;
}

.valid {
  color: blue;
}

.not-allowed {
  cursor: not-allowed;
  opacity: 70%;
}

.centered-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 1.3rem !important;
}

.active {
  background-color: #aaa;
}
